<nav class="navbar navbar-expand-lg navbar-light bg-light">

   <a class="navbar-brand" href="{% url 'classroom-list'%}">School Page</a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'classroom-create'%}">Create Classrooms <span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'signout'%}">Signout</a>
        </li>

        <li class="nav-item active nav-link">
          <strong>{{request.user.username}}</strong> 
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'signup'%}">Signup</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'signin'%}">Signin</a>
        </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

